
<ul class="nav nav-pills">
	<li role="presentation"><a class="button" href="/">Home</a></li>
	<li role="presentation"><a class="button" href="/about">About</a></li>
	<li role="presentation"><a class="button" href="/history">History</a></li>
	<li role="presentation"><a class="button" href="/project">Project</a><br></li>
</ul>

<h1>{{title}}</h1>